* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#main {
  height: 100vh;
  background-color: #331b79;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#second {
  width: 70%;
  height: 80%;
  background-color: #230b57;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#horizontal {
  height: 40%;
}

#vertical {
  height: 60%;
}

#scroll-h {
  display: flex;
}

#scroll-v {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  overflow: scroll;
}

img {
  height: 8em;
}